@{
    // Aquí invocamos la magia del Layout
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    ViewBag.Title = "Dashboard";
}

<h2 style="margin-top: 0;">Panel de Control Gerencial</h2>
<p>Hola, <b>@ViewBag.NombreCompleto</b>. Bienvenido a tu portal de autogestión de activos de BITATEL.</p>

<div style="background-color: white; padding: 20px; border-radius: 8px; border: 1px solid #ddd; margin-top: 20px;">
    <h3>Resumen de tu cuenta</h3>
    <p>Aquí colocaremos las 4 tarjetas (KPIs) con los gráficos que diseñamos anteriormente: Deuda, Equipos en Producción, Vencimientos y Solicitudes.</p>
</div>